@font-face {
    font-family: 'FuturaLTBookBold';
    src: url('futura_lt_bold.eot');
    src: url('futura_lt_bold.eot') format('embedded-opentype'),
         url('futura_lt_bold.woff') format('woff'),
         url('futura_lt_bold.ttf') format('truetype'),
         url('futura_lt_bold.svg#FuturaLTBookBold') format('svg');
}
