<!DOCTYPE html>
<html>
    <head>
        <title>Thunderbolt Kids</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <!-- custom css stylesheet -->
        <link href="custom.css" rel="stylesheet" media="screen">
        <!-- Icons -->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div id="wrap">
            <!-- Navbar -->
            {{ navbar }}
            <div>
                <!-- Page content -->
                {{ content }}
            </div>
        </div>
        <!-- Footer -->
        {{ footer }}

        <script src="http://code.jquery.com/jquery.js"></script>
        <!--<script src="js/bootstrap.min.js"></script>-->
    </body>
</html>
