<!-- Footer
================================================== -->
<footer id="footer">
<div class="row-fluid">
    <div class="container"><div class="span4">
            <p class="credit"><strong>About the Project</strong></p>
            <ul>
                <li>Project Overview</li>
                <li>Sasol Inzalo</li>
                <li>Siyavula</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="container"><div class="span4">
                <p class="credit">Designed and built by Siyavula</p>
            </div>
            <div class="span4">
                <div class="sasollogo"><a href="http://www.sasolinzalofoundation.org.za/"><img src="images/inzalo_logo.gif" alt="Sasol Inzalo Logo"/></a></div>
                <div class="sasollogo"><a href="http://www.sasol.com/"><img src="images/sasol-small.png" alt="Sasol Logo"/></a></div>
            </div>
        </div>
        </footer>
