<h1 class="text-center">Natural Sciences and Technology</h1>
<h2 class="text-center">Grade 4</h2>

<div class="container main-content">
    <div class="container text-center">
        <div class="row-fluid">
            <div class="span3">
                <a href="grade4/life-and-living/chapter1.html">
                    <img src="images/poster1.png"/><br/><h4>Life and living</h4>
                </a>
            </div>
            <div class="span3">
                <a href="grade4/matter-and-materials/chapter2.html">
                    <img src="images/poster2.png"/><br/><h4>Matter and materials</h4>
                </a>
            </div>
            <div class="span3">
                <a href="grade4/energy-and-change/chapter3.html">
                    <img src="images/poster3.png"/><br/><h4>Energy and change</h4>
                </a>
            </div>
            <div class="span3">
                <a href="grade4/earth-and-beyond/chapter4.html">
                    <img src="images/poster4.png"/><br/><h4>Earth and beyond</h4>
                </a>
            </div>

        </div>
    </div>

    <div class="container text-center">
        <div class="row-fluid">
            <div class="span4 grade-button"><a href="meet-the-kids.html">Meet the kids</a></div>
            <div class="span4 grade-button"><a href="#">Grade 5</a></div>
            <div class="span4 grade-button"><a href="#">Grade 6</a></div>
        </div>
    </div>

</div>
