<h1 class="text-center">Natural Sciences and Technology</h1>
<h2 class="text-center">with The Thunderbolt Kids</h2>

<div class="container main-content">
    <div class="text-center">
        <img src="images/MainKids.png" alt="" />
    </div>
    <div class="container text-center">
        <div class="row-fluid">
            <div class="span4 grade-button gr4"><a href="grade4.html">Grade 4</a></div>
            <div class="span4 grade-button gr5"><a href="#">Grade 5</a></div>
            <div class="span4 grade-button gr6"><a href="#">Grade 6</a></div>
        </div>
    </div>

</div>
