<div class="container main-content">
    <h2>Meet the kids</h2>
    <a href="#sophie">Sophie</a> | 
    <a href="#tom">Tom</a> | 
    <a href="#farrah">Farrah</a> | 
    <a href="#jojo">Jojo</a>
    <div id="sophie">
        <div class="row-fluid">
            <h4>Sophie</h4>
            <div class="span7">
                <p>Hello! My name is Sophie.</p>

                <p>One of my favourite places to be is in the school library. I love reading a new book - there is just so much to learn and discover about our world!</p>

                <p>I am always asking questions and often these questions do not yet have answers to them. This is fascinating as we then get to make a theory about what we think the answer might be. This is why I really enjoy learning about outer Space as there is so much that we do not know. Throughout history people have been asking questions about Space and our place in the universe. This is why I am going to go through Earth and Beyond and Systems and Control with you as we learn about our planet Earth and our solar system.</p>

                <p>I also like expressing my opinion and debating about a topic. You have to give me a very good argument to convince me of your opinion! I love exploring with Farrah as she helps me to be more creative and imaginative in the way that I think. I can also be quite sceptical and do not believe everything I read. But, this is very important in Science as we must not always accept everything as fact.</p>
            </div>
            <div class="span2 text-center"><img src="images/sophie.png" alt="" /></div>
        </div>
    </div>


    <div id="tom">
        <div class="row-fluid">
            <h4>Tom</h4>
            <div class="span2 text-center"><img src="images/tom.png" alt="" /></div>
            <div class="span7">
                <p>Hey! My name is Tom.</p>

                <p>I have two places where I am most happy! The first is in the Science lab because this is where we get to be inventive and tinker away with projects and experiments! My second favourite place is the junk yard! Do you know how many interesting objects you can find there?! I use these objects in my latest inventions.</p>

                <p>This is why I am really excited to be going through Matter and Materials with you. We are going to learn all about the materials around us, and start to do some chemistry experiments!</p>

                <p>I also really enjoy maths and thinking about how we can solve problems logically. Jojo is one of my best mates, although he can be very messy at times! But, Jojo helps me get involved with my whole body when trying to solve problems in our daily lives, and not just use my mind.</p>
            </div>
        </div>
    </div>


    <div id="farrah">
        <div class="row-fluid">
            <h4>Farrah</h4> 
            <div class="span7">
                <p>Hi there! My name is Farrah.</p>

                <p>My favourite subjects at school are where I get to be creative and imaginative. But, did you know, this is not only in the art or drama classroom?! We can also be creative in the ways we do Science and Technology. This is especially true when thinking about new ways to answer a question with a Science investigation or drawing a design to solve a problem.</p>

                <p>I also really love being outdoors in the natural world around me. This is why I am going to go through Life and Living with you. I think we are very lucky to live in such a beautiful place as South Africa, with so many colours and plants and animals. </p>

                <p>Sophie is my best friend and she teaches me how to be more analytical, which is a very good skill to have in Science. Although we can get on each other's nerves, just like best friends do, we have so much fun together and learn a lot from each other.</p>
            </div>
            <div class="span2 text-center"><img src="images/farrah.png" alt="" /></div>
        </div>
    </div>


    <div id="jojo">
        <div class="row-fluid">
            <h4>Jojo</h4>
            <div class="span2 text-center"><img src="images/jojo.png" alt="" /></div>
            <div class="span7">
                <p>What's up! My name is Jojo.</p>

                <p>I just want to dive straight into this year, and especially Natural Sciences and Technology. Sometimes though, I find it hard to sit still in class as I just want to get up and do things! My teacher often says I have too much energy and I battle to sit still in class. Maybe that's why I am going through Energy and Change with you. </p>

                <p>The best part about Natural Sciences and Technology is that we get to learn actively. We have goals and questions which we want to answer and I am always the first to leap into action!</p>

                <p>Tom and I make a very good team because he is very good at thinking and planning and then following a method. But, I think I can also help as sometimes Tom wants to think too much, whereas in Science and Technology you also have to get immersed in the subject and start experimenting.</p>
            </div>
        </div>
    </div>
</div>
