<div class="container home-buttons">
    <div class="row-fluid">
        <div class="span2 text-center"><a href="#">Logo</a></div>
        <div class="span2 text-center"><a href=""><i class="icon-home icon-2x" alt="Home"></i><br/>Home</a></div>
        <div class="span2 text-center"><a href=""><i class="icon-book icon-2x"></i><br/>Read a Book</a></div>
        <div class="span2 text-center"><a href=""><i class="icon-group icon-2x"></i><br/>Meet the kids</a></div>
        <div class="span2 text-center"><a href=""><i class="icon-star icon-2x"></i><br/>Science Adventures Comics</a></div>
        <div class="span2 text-center"><a href="http://www.siyavula.com" target="_blank"><img src="images/siyavula-logo-cropped.jpg" alt="www.siyavula.com" /></a></div>
    </div>
</div>
