<div class="container home-buttons">
    <div class="row-fluid">
        <div class="span2 text-center"><a href="#">Logo</a></div>
        <div class="span2 text-center"><a href=""><br/>Home</a></div>
        <div class="span2 text-center"><a href=""><br/>Read a Book</a></div>
        <div class="span2 text-center"><a href=""><br/>Meet the kids</a></div>
        <div class="span2 text-center"><a href=""><br/>Science Adventures Comics</a></div>
        <div class="span2 text-center"><a href="http://www.siyavula.com" target="_blank"><img src="images/siyavula-logo-cropped.jpg" alt="www.siyavula.com" /></a></div>
    </div>
</div>
